---
const { frontmatter } = Astro.props;
import BaseLayout from '../layouts/BaseLayout.astro';
import '../styles/global.css';
---
<BaseLayout pageTitle={frontmatter.title}>
	<h1>{frontmatter.headline}</h1>
	<p><small>Written by {frontmatter.author} on {frontmatter.pubDate.toString().slice(0,10)}</small></p>

<slot />

<ul class="list--inline">
	{frontmatter.tags.map((tag: string) => <li><a href={`/tags/${tag}`}>{tag}</a></li>)}
</ul>

</BaseLayout>